<h1>Portfolio</h1>
<p>
    {% if art_list %}
    <ul>
      {% for art in art_list %}
        <li>
            <a href="{% url 'portfolio_marta:art_detail'  art.id %}">{{ art.title }}</a>
            {% if art.owner == user %}
            (<a href="{% url 'portfolio_marta:art_update' art.id %}">Edit</a> |
            <a href="{% url 'portfolio_marta:art_delete' art.id %}">Delete</a>)
            {% endif %}
            
            <div style="left:10px">
                {% if art.text|length < 100 %}
                    {{ art.text }}
                {% else %}
                    {{ art.text|slice:"0:99" }}
                {% endif %}
            </div>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>There are no art in the database.</p>
    {% endif %}
    <p>
        <a href="{% url 'portfolio_marta:art_create' %}">Add an Art</a> |
        {% if user.is_authenticated %}
        <a href="{% url 'logout' %}?next={% url 'portfolio_marta:all' %}">Logout</a>
        {% else %}
        <a href="{% url 'login' %}?next={% url 'portfolio_marta:all' %}">Login</a>
        {% endif %}
        </p>
</p>
