{% extends "base_menu.html" %}
{% block title %}Portfolio{% endblock %}
{% load humanize %}
{% block head %}
{% endblock %}
{% block content %}
{% if art.content_type %}
<div id="overlay" class="overlay" style="text-align: center;"
   onclick="document.getElementById('overlay').style.display = 'none';" >
<img style="width:90%;margin-top: 50px; border:3px solid black;" src="{% url 'portfolio_marta:art_picture' art.id %}">
</div>
{% endif %}
<span style="float: right;">
({{ art.updated_at|naturaltime }})
{% if art.owner == user %}
<a href="{% url 'portfolio_marta:art_update' art.id %}"><i class="fa fa-pencil"></i></a>
<a href="{% url 'portfolio_marta:art_delete' art.id %}"><i class="fa fa-trash"></i></a>
{% endif %}
</span>
<h1>{{ art.title }}</h1>
<p>Likes({{ total_fav }})</p>
{% if art.content_type %}
<img style="float:right; max-width:50%;" src="{% url 'portfolio_marta:art_picture' art.id %}"
    onclick="document.getElementById('overlay').style.display = 'block';">
{% endif %}
<p>
{{ art.text }} 
</p>
{% if art.tags.all %}
<p>Tags:
  {% for tag in art.tags.all %}
  <span style="border:1px rgba(0,0,0,0.2);border-radius:3px; background-color: rgb(204, 183, 216);">{{ tag }}</span>
  {% endfor %}
</p>
{% endif %}
{% if user.is_authenticated %}
<p>
<br clear="all"/>

{% load crispy_forms_tags %}
<form method="post" action="{% url 'portfolio_marta:art_comment_create' art.id %}">
    {% csrf_token %}
    {{ comment_form|crispy }}
<input type="submit" value="Submit">
<input type="submit" value="All Arts" data-portfolio-marta-all-url="{% url 'portfolio_marta:all' %}" onclick="window.location.href=this.getAttribute('data-portfolio-marta-all-url');return false;">
</form>
</p>
{% endif %}
<p>Comments:
{% for comment in comments %}
<p> {{ comment.text }} | by {{ comment.owner}} ({{ comment.updated_at|naturaltime }})
{% if user == comment.owner %}
<a href="{% url 'portfolio_marta:art_comment_delete' comment.id %}"><i class="fa fa-trash"></i></a>
{% endif %}
</p>
{% endfor %}
</p>
<p>
<a href="{% url 'portfolio_marta:all' %}"> &larr; Back</a>
</p>
{% endblock %}