{% extends "base_menu.html" %}
{% block title %}Portfolio{% endblock %}
{% block head %}
<style>
/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 31%;
  padding: 15px;
  text-align: center;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:1000px) {
  .column {
    width: 100%;
  }
}
</style>
{% endblock %}
{% block content %}
<h1>List of art pieces:</h1>
<div style="float:right">
  <!-- https://www.w3schools.com/howto/howto_css_search_button.asp -->
  <form>
    <input type="text" placeholder="Search.." name="search" {% if search %} value="{{ search }}" {% endif %}>
    <button type="submit"><i class="fa fa-search"></i></button>
    <a href="{% url 'portfolio_marta:all' %}"><i class="fa fa-undo"></i></a>
  </form>
</div>
<br/>
<div class="row">
    {% if type_list %}
    <ul style="list-style-type: none">
      {% for type in type_list %}
      <div class="column">
        <li> <span style="font-size: 2em; text-align: left;">{{ type.name }}</span>
        {% if art_list %}
          <ul style="list-style-type: none">
          {% for art in art_list %}
            <li>
            {% if art.type == type %}
            <a href="{% url 'portfolio_marta:art_detail'  art.id %}" style="text-decoration: none;" >{{ art.title }}</a> 
            {% if art.owner == user %}
            (<a href="{% url 'portfolio_marta:art_update' art.id %}">Edit</a> |
            <a href="{% url 'portfolio_marta:art_delete' art.id %}">Delete</a>)
            {% endif %}
            {% if user.is_authenticated %}
            <!-- Two hrefs with two stacked icons each - one showing and one hidden -->
            <a href="#" onclick=
                "favPost('{% url 'portfolio_marta:art_unfavorite' art.id %}', {{ art.id }} );return false;"
                {% if art.id not in favorites %} 
                style="display: none;" 
                {% endif %}
                id="favorite_star_{{art.id}}">
                <span class="fa-stack" style="vertical-align: middle;">
                <i class="fa fa-star fa-stack-1x" style="color: orange;"></i>
                <i class="fa fa-star-o fa-stack-1x"></i>
                </span>
            </a>
            <!-- the second href -->
            <a href="#" onclick=
                "favPost('{% url 'portfolio_marta:art_favorite' art.id %}', {{ art.id }} );return false;"
                {% if art.id in favorites %}
                style="display: none;"
                {% endif %}
                id="unfavorite_star_{{art.id}}">
               <span class="fa-stack" style="vertical-align: middle;">
               <i class="fa fa-star fa-stack-1x" style="display: none; color: orange;"></i>
               <i class="fa fa-star-o fa-stack-1x"></i>
               </span>
            </a>
            <br/>
            {% endif %}
            <div >
                {% if art.text|length < 100 %}
                    {{ art.text }}
                {% else %}
                    {{ art.text|slice:"0:99" }}
                {% endif %}
            </div>
            {% if art.content_type %}
            <a href="{% url 'portfolio_marta:art_detail'  art.id %}">
              <img  style="width: 50%" src="{% url 'portfolio_marta:art_picture' art.id %}"></a>
            {% endif %}
            {% endif %}
            </li>
          {% endfor %}
          </ul>
        {% else %}
        <p>There are no art in the database.</p>
        {% endif %}
        </li>
      </div>
      {% endfor %}
    </ul>
    {% else %}
    <p>There are no types in the database.</p>
    {% endif %}
</div>
    <script>
      function favPost(url, art_id) {
          console.log('Requesting JSON');
          $.post(url, {},  function(rowz){
              console.log(url, 'finished');
              $("#unfavorite_star_"+art_id).toggle();
              $("#favorite_star_"+art_id).toggle();
          }).fail(function(xhr) {
              alert('Url failed with '+xhr.status+' '+url);
          });
      }
      </script>
{% endblock %}