{% extends "base_menu.html" %}
{% block title %}Portfolio{% endblock %}
{% block content %}
<h1>List of art pieces:</h1>
<p>{% if type_list %}
    <ul style="list-style-type: none">
      {% for type in type_list %}
        <li> {{ type.name }}
    {% if art_list %}
    <ul style="list-style-type: none">
      {% for art in art_list %}
        <li>
            {% if art.type == type %}
            <a href="{% url 'portfolio_marta:art_detail'  art.id %}">{{ art.title }}</a> 
            {% if art.owner == user %}
            (<a href="{% url 'portfolio_marta:art_update' art.id %}">Edit</a> |
            <a href="{% url 'portfolio_marta:art_delete' art.id %}">Delete</a>)
            {% endif %}
            
            <div style="left:10px">
                {% if art.text|length < 100 %}
                    {{ art.text }}
                {% else %}
                    {{ art.text|slice:"0:99" }}
                {% endif %}
            </div>
            {% if art.content_type %}
            <a href="{% url 'portfolio_marta:art_detail'  art.id %}"><img  style="width: 30%" src="{% url 'portfolio_marta:art_picture' art.id %}"></a>
            {% endif %}
            <p>
            </p>
            <p>
            </p>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>There are no art in the database.</p>
    {% endif %}
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>There are no types in the database.</p>
    {% endif %}
    
{% endblock %}