{% extends "base_menu.html" %}
{% block title %}Portfolio{% endblock %}
{% load crispy_forms_tags %}
{% block content %}

<p>
    <form action="" method="post" id="upload_form" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form|crispy }}
      <input type="submit" value="Submit">
      <input type="submit" value="Cancel" data-portfolio-marta-all-url="{% url 'portfolio_marta:all' %}" onclick="window.location.href=this.getAttribute('data-portfolio-marta-all-url');return false;">
    </form>
  </p>
{% endblock %}