{% extends "base.html" %}
{% block menu_head %}
{% endblock %}
{% block navbar %}
{% load app_tags %}
<nav>
    <ul>
        <li>
        <a style="font-family: 'Dancing Script', cursive, arial, sans-serif; font-size: 1em;" href="{% url 'portfolio_marta:info' %}" >Info</a>
        </li>
        <li>
        <a style="font-family: 'Dancing Script', cursive, arial, sans-serif; font-size: 1em;" href="{% url 'portfolio_marta:contact' %}" >Contact</a>
        </li>
        {% if user.is_authenticated %}
        <li>
        <div class="dropdown">
            <button class="dropbtn" style="font-family: 'Dancing Script', cursive, arial, sans-serif; font-size: 1em;"><img style="width: 25px;vertical-align: text-top;" src="{{ user|gravatar:60 }}"/> Menu</button>
            <div class="dropdown-content">
                {% if perms.portfolio_marta.add_art %}
                <a href="{% url 'portfolio_marta:art_create' %}" >Add picture</a>
                {% endif %}
                {% if perms.portfolio_marta.add_type %}
                <a href="{% url 'portfolio_marta:type_create' %}" >Add type</a>
                {% endif %}
                <a href="{% url 'portfolio_marta:types' %}" >Types list</a>
                <a href="{% url 'logout' %}?next={% url 'portfolio_marta:all' %}">Logout</a>
            </div>
        </li>
        {% else %}
        <li>
        <a style="font-family: 'Dancing Script', cursive, arial, sans-serif; font-size: 1em;" href="{% url 'login' %}?next={% url 'portfolio_marta:all' %} ">Login</a>
        </li>
        {% endif %}
        <div style="float: left">
            <li>
            <a style="font-family: 'Dancing Script', cursive, arial, sans-serif; font-size: 3em;" href="{% url 'portfolio_marta:all' %}" >Portfolio Marty G</a>
            </li>
        </div>
    </ul>
</nav>
{% endblock %}